<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messenger-Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->

    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form style="padding-top: 50px;" method="POST" class="login100-form validate-form">
					<a href="/">
					<h2 class="login100-form-title" style="font-family: 'Architects Daughter', cursive;margin-bottom: 60px;font-size: 60px;">Messenger</h2>
					</a>
					<div>
						{% with messages = get_flashed_messages(with_categories=true) %}
            				{% if messages %}
              					{% for category, message in messages %}
                					<div class="alert alert-{{ category }}">
                  						{{ message }}
                					</div>
              					{% endfor %}
            				{% endif %}
          				{% endwith %}
					</div>
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" id="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" id="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button id="login_button" class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							<h4>New user!</h4>
							<br>
							<b>
								<u>
									<a href="register">
										Sign up now
									</a>
								</u>
							</b>
						</span>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/static/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

	<script type="text/javascript">
		var flag;
		const sendButton = document.getElementById('login_button');
		sendButton.addEventListener('click',function(e){
			if(flag){
				flag = false;
				return;
			}
			e.preventDefault();
			const cat = localStorage.getItem($("#username").val()+'_private_key');
			if(cat){
				var key_status = 'yes';
			}
			else{
				var key_status = 'no';
			}

			$.ajax({

              	url: '/login',
               	type : 'POST',
               	dataType :'json', 
               	data : {username : $("#username").val(), pass : $("#pass").val(), key_status : key_status},
               	success:function(data) {
               		message = data.message;
               		alert(message);
               		if(data.result == 'yes'){
               			my_public_key = data.my_public_key;
               			token = data.token;
               			window.localStorage.setItem($("#username").val()+'_public_key', my_public_key);
               			document.cookie = 'token=' + token;
               			window.location.replace("http://127.0.0.1:5000/user");
               		}

               	}
           	})
		})
	</script>

</body>
</html>